---
import { basics } from "@cv"
import Section from "@/components/Section.astro"
import Mail from "@/icons/Mail.astro"
import Phone from "@/icons/Phone.astro"
import X from "@/icons/X.astro"
import LinkedIn from "@/icons/LinkedIn.astro"
import GitHub from "@/icons/GitHub.astro"
import WorldMap from "@/icons/WorldMap.astro"

const { name, label, image, location, profiles, phone, email } = basics
const { city, region } = location

const SOCIAL_ICONS: Record<string, string | any> = {
  GitHub,
  LinkedIn,
  X,
}

const linkedInfo = profiles.find(({ network }) => network === "LinkedIn")
const linkedUrl = linkedInfo?.url

const printInfo = [email, phone, linkedUrl].filter(Boolean).join(" • ")
---

<Section>
  <div class="flex flex-row items-center justify-between gap-4 md:flex-col-reverse">
    <div class="flex flex-col gap-2 pr-8 md:pr-0 md:items-center md:text-center">
      <h1 class="text-2xl">{name}</h1>
      <h2 class="text-gray-700 font-medium text-[1.1rem]">{label}</h2>
      <span class="text-gray-600 flex items-center gap-1 text-[0.85rem] tracking-tight">
        <WorldMap />
        {city}, {region}
      </span>
      <footer class="hidden print:block text-gray-600 text-[0.65rem] flex gap-1 mt-2">
        {printInfo}
      </footer>
      <footer class="block print:hidden text-gray-600 text-[0.65rem] flex gap-1 mt-2">
        {email && (
          <a
            href={`mailto:${email}`}
            title={`Send a mail to: ${name} to email: ${email}`}
            target="_blank"
            rel="noopener noreferrer"
            class="text-gray-500 inline-flex items-center justify-center border border-gray-200 p-1 h-8 w-8 rounded-md transition-all hover:bg-gray-200 hover:border-gray-300"
          >
            <Mail />
          </a>
        )}
        {phone && (
          <a
            href={`tel:${phone}`}
            title={`Phone call to ${name} to number: ${phone}`}
            target="_blank"
            rel="noopener noreferrer"
            class="text-gray-500 inline-flex items-center justify-center border border-gray-200 p-1 h-8 w-8 rounded-md transition-all hover:bg-gray-200 hover:border-gray-300"
          >
            <Phone />
          </a>
        )}
        {profiles.map(({ network, url, username }) => {
          const Icon = SOCIAL_ICONS[network]
          return (
            <a
              href={url}
              title={`Visit the profile of ${name} on ${network}`}
              target="_blank"
              rel="noopener noreferrer"
              class="text-gray-500 inline-flex items-center justify-center border border-gray-200 p-1 h-8 w-8 rounded-md transition-all hover:bg-gray-200 hover:border-gray-300"
            >
              <Icon />
            </a>
          )
        })}
      </footer>
    </div>
    <figure class="flex justify-center items-center m-auto">
      <img src={image} alt={name} class="aspect-square object-cover w-32 rounded-lg" />
    </figure>
  </div>
</Section>
